# data
/data_mini_test
/data

# outputs
/result_fit
/debug_mask
/tb_logs
*.png
*.jpg

# cache
__pycache__
ckpt/

# local
.vscode
Dockerfile.local

# Claude
CLAUDE.md

# documentation and concept
docs/
